.menu-lateral{
    grid-column: 0/3;
    grid-row: 3/3;
 }
.menu-lateral{
    width: auto;
    height: auto;
    padding: 0%;
    border: solid black;
    
}

.menu{
    width: 100rem;
    height: 100rem;
   border: solid black;
}


