.menu-lateral{
    grid-column: 0/3;
    grid-row: 3/3;
<<<<<<< HEAD
    background-color: aqua;
}  
=======
 }

>>>>>>> 4ac499874f9e265d5db07fba8af6d2e92a970c75
.menu-lateral{
    width: auto;
    height: auto;
    padding: 0%;
    
}

.menu{
    width: 100rem;
    height: 100rem;
    background-color: black;
}

