.footer {
    
    grid-column: 2/3;
    grid-row: 3/3;  
    border: solid 2px black;
    background-color:royalblue ;

}
.CPU{
    border: solid black;
}
.GPU{
    border: solid black;
}

.TarjetaMadre{
    border: solid black;
}
.RAM{
    border: solid black;
}
.SSD{
    border: solid  black;
}
.TarjetaSIM{
    border: solid black;
}