.footer {
    
    grid-column: 0/7;
    grid-row: 7/7;  
    border: solid 2px black;
}
.CPU{
    border: solid black;
}
.GPU{
    border: solid black;
}

.TarjetaMadre{
    border: solid black;
}
.RAM{
    border: solid black;
}
.SSD{
    border: solid  black;
}
.TarjetaSIM{
    border: solid black;
}