.CPU{
    height: 100%vh;
    background-color: brown;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.GPU{
    height:100%;
    background-color: blue;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.TarjetaMadre{
    height: 100%;
    background-color: red;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.RAM{
    height: 100%;
    background-color: yellowgreen;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.SSD{
    height: 100%;
    background-color: blueviolet;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.TarjetaSIM{
    height: 100%;
    background-color: aqua;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}