.CPU{
    height: 100%vh;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.GPU{
    height:100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.TarjetaMadre{
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.RAM{
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.SSD{
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.TarjetaSIM{
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}