.header {
    
    display: grid;
    align-items: center;
    justify-content: center;
    gap: 18.8rem;
    grid-column: 1/2;
    grid-row: 2/3;  
    border: solid 2px black; 
    
}

.header img{
    height: 100px;
    width: 100px;
}
